S3method(plot,GMAC)
export(gmac)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(parallel,parLapply)
importFrom(qvalue,qvalue)
importFrom(stats,lm)
importFrom(stats,pf)
importFrom(stats,pnorm)
importFrom(stats,prcomp)
importFrom(stats,sd)
